In [1]:
import pandas as pd

In [13]:
pd.set_option('display.max_columns', 50)

In [25]:
new_data = pd.read_parquet('data/Predictions.parquet')
old_data = pd.read_csv('data/Pred.csv', index_col=0)

In [10]:
old_data.query('STUDENT_ID == 100059153')

,SCHOOL_YEAR,DISTRICT_CODE,DISTRICT_NAME,LOCATION_ID,SCHOOL_NAME,STUDENT_ID,Total_Days_Unexcused_Absent,Total_Days_Enrolled,Total_Days_Present,STUDENT_GRADE_LEVEL,ETHNIC_CODE,STUDENT_GENDER,ECONOMIC_CODE,SPECIAL_ED_CODE,ENG_PROF_CODE,HISPANIC_IND,Predictions,Predictions_District,Predictions_School,Predictions_Grade
0,2019,71,SANTA FE,165,SANTA FE HIGH,100059153,0.0,190.0,189.0,4,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.897426
1,2020,71,SANTA FE,165,SANTA FE HIGH,100059153,0.0,126.0,123.0,5,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.897296
2,2021,71,SANTA FE,165,SANTA FE HIGH,100059153,0.0,168.0,166.0,6,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.897263
3,2022,71,SANTA FE,165,SANTA FE HIGH,100059153,1.0,194.0,185.6,7,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.897194
4,2023,71,SANTA FE,165,SANTA FE HIGH,100059153,1.5,171.0,159.3,8,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.897205
5,2024,71,SANTA FE,165,SANTA FE HIGH,100059153,4.0,174.0,166.0,9,H,Female,0,0,0,1,0.916847,0.859423,0.828706,0.890835

In [28]:
new_data.query('STUDENT_ID == 100059153')

,Total_Days_Present,Total_Days_Enrolled,Total_Days_Unexcused_Absent,SCHOOL_YEAR,DISTRICT_CODE,DISTRICT_NAME,LOCATION_ID,SCHOOL_NAME,STUDENT_ID,STUDENT_GRADE_LEVEL,ETHNIC_CODE,STUDENT_GENDER,ECONOMIC_CODE,SPECIAL_ED_CODE,ENG_PROF_CODE,HISPANIC_IND,Attendance_Rate,Predictions,Predictions_District,Predictions_School,Predictions_Grade
0,189.0,190.0,0.0,2019,71.0,SANTA FE,146.0,CHAPARRAL ELEMENTARY,100059153,4.0,C,Female,0.0,0.0,0.0,1.0,0.994737,NaN,NaN,NaN,NaN
1,123.0,126.0,0.0,2020,71.0,SANTA FE,146.0,CHAPARRAL ELEMENTARY,100059153,5.0,C,Female,0.0,0.0,0.0,1.0,0.976190,NaN,NaN,NaN,NaN
2,166.0,168.0,0.0,2021,71.0,SANTA FE,146.0,CHAPARRAL ELEMENTARY,100059153,6.0,C,Female,0.0,0.0,0.0,1.0,0.988095,NaN,NaN,NaN,NaN
3,185.6,194.0,1.0,2022,71.0,SANTA FE,189.0,MILAGRO MIDDLE,100059153,7.0,C,Female,0.0,0.0,0.0,1.0,0.956701,NaN,NaN,NaN,NaN
4,159.3,171.0,1.5,2023,71.0,SANTA FE,189.0,MILAGRO MIDDLE,100059153,8.0,C,Female,1.0,0.0,0.0,1.0,0.931579,NaN,NaN,NaN,NaN
5,166.0,174.0,4.0,2024,71.0,SANTA FE,165.0,SANTA FE HIGH,100059153,9.0,H,Female,0.0,0.0,0.0,1.0,0.954023,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,2025,71.0,SANTA FE,165.0,SANTA FE HIGH,100059153,9.0,H,Female,0.0,0.0,0.0,1.0,0.954023,0.924859,0.860814,0.768503,0.879713